{% extends 'base.html.twig' %}

{% block title %}Alumni | Jobs{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ asset('styles/job.css') }}">
<link rel="stylesheet" href="{{ asset('styles/footer_navbar.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}
{% block body %}
<br><br>
<div class="page-content container-fluid px-4">
    <form method="GET" action="{{ path('jobs') }}">
        <div class="row g-4">
            <div class="col-lg-3">
                {% include 'job/_job_filters.html.twig' %}
            </div>


            <div class="col-lg-9">

                {% include 'job/_job_search.html.twig' %}

                <div class="row g-3">
                    {% for job in jobs %}
                        {% include 'job/_job_card.html.twig' with { job: job } %}
                    {% endfor %}
                </div>

            </div>

        </div>
    </form>
</div>
    <br>

{% endblock %}

{% block javascript %}

<script>
const bubbles = document.querySelectorAll(".bubble");
const jobTypeInput = document.getElementById("jobTypeInput");

bubbles.forEach(b => {
    b.addEventListener("click", () => {
        bubbles.forEach(x => x.classList.remove("active"));
        b.classList.add("active");
        jobTypeInput.value = b.dataset.value;
        b.closest("form").submit();
    });
});

const range = document.getElementById("range4");
const rangeValue = document.getElementById("rangeValue");

if (range && rangeValue) {
    rangeValue.textContent = range.value + " DT";

    range.addEventListener("input", () => {
        rangeValue.textContent = range.value + " DT";
    });

    range.addEventListener("change", () => {
        range.form.submit();
    });
}

document.getElementById("remoteCheck")?.addEventListener("change", function () {
    this.form.submit();
});

document.getElementById("onsiteCheck")?.addEventListener("change", function () {
    this.form.submit();
});

document.getElementById("hybridCheck")?.addEventListener("change", function () {
    this.form.submit();
});
</script>

{% endblock %}
