{% extends 'base.html.twig' %}

{% block title %}Alumni | Feed{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('styles/feed.css') }}">
<link rel="stylesheet" href="{{ asset('styles/footer_navbar.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block body %}

<h1 class="h1">Meet INSATiens</h1>

<div class="marquee-container">
    <button class="marquee-btn btn-left" onclick="scrollMarquee(this, -1)">&#60;</button>

    <div class="marquee-wrapper">
        <div class="marquee-track" id="profiles">

            {% for profile in profiles %}
                {% include 'feed/_profile_card.html.twig' with { profile: profile } %}
            {% endfor %}

        </div>
    </div>

    <button class="marquee-btn btn-right" onclick="scrollMarquee(this, 1)">&#62;</button>
</div>

<h1 class="h1">New Posts</h1>

<div class="marquee-container">

    <button class="marquee-btn btn-left" onclick="scrollMarquee(this, -1)">
        &#60;
    </button>

    <div class="marquee-wrapper">

        <div class="marquee-track" id="posts">

            {% if posts is not empty %}

                {% for post in posts %}
                    {% include 'feed/_post_card.html.twig' with { post: post } %}
                {% endfor %}

            {% else %}

                <p class="no-posts">No posts available.</p>

            {% endif %}

        </div>

    </div>

    <button class="marquee-btn btn-right" onclick="scrollMarquee(this, 1)">
        &#62;
    </button>

</div>

<h1 class="h1">Job Offers</h1>

<div class="marquee-container">
    <button class="marquee-btn btn-left" onclick="scrollMarquee(this, -1)">&#60;</button>

    <div class="marquee-wrapper">
        <div class="marquee-track" id="jobs">

            {% for job in jobs %}
                {% include 'feed/_job_card.html.twig' with { job: job } %}
            {% endfor %}

        </div>
    </div>

    <button class="marquee-btn btn-right" onclick="scrollMarquee(this, 1)">&#62;</button>
</div>


<h1 class="h1">Internship Offers</h1>

<div class="marquee-container">
    <button class="marquee-btn btn-left" onclick="scrollMarquee(this, -1)">&#60;</button>

    <div class="marquee-wrapper">
        <div class="marquee-track" id="internships">

            {% for job in internships %}
                {% include 'feed/_job_card.html.twig' with { job: job } %}
            {% endfor %}

        </div>
    </div>

    <button class="marquee-btn btn-right" onclick="scrollMarquee(this, 1)">&#62;</button>
</div>

<script>
function scrollMarquee(button, direction) {
    const container = button.parentElement;
    const wrapper = container.querySelector('.marquee-wrapper');
    const scrollAmount = 320;

    wrapper.scrollTo({
        left: wrapper.scrollLeft + direction * scrollAmount,
        behavior: 'smooth'
    });
}
</script>

{% endblock %}